nav > .ui.grid {
    margin-top: 0px !important;
    margin-left: 0px !important;
    vertical-align: bottom 
    
}

.ui.divider {
    margin-bottom: 0px;
}

h3 {
    margin-top: 5px !important;
}

.main {
    /* padding-top: 50px; */
    
    align-items: center;
    background: rgba(0,0,0,0.1) !important 
}

.ui.segment {
    align-items: center;
    text-align: center;
    /* width: 75%; */
    margin: 0 auto;
}

.ui.grid {
    align-items: center;
}

.ui.table {
    width: 10%;
    justify-content: center;
    margin: 0 auto;
}

.main > h1 {
    
    font-weight: bold;
}

.table {
    margin-top: 25px;
}